<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fanti.dryercalc" version="3.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>干燥机过滤器选型计算</name>
    <description>
        压缩空气干燥机 &amp; 过滤器 — 工程选型工具：冷干机 / 吸干机 / 过滤器选型计算
    </description>
    <author email="fanti@example.com" href="https://github.com/zhaoyee001/dryer-calc">
        杭州钒钛
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="34" />
        <preference name="android-compileSdkVersion" value="34" />
        <icon density="mdpi" src="www/img/logo.png" />
        <icon density="hdpi" src="www/img/logo.png" />
        <icon density="xhdpi" src="www/img/logo.png" />
        <icon density="xxhdpi" src="www/img/logo.png" />
        <icon density="xxxhdpi" src="www/img/logo.png" />
    </platform>
</widget>
